.heading{
	margin-bottom: 0;
}
.sub-heading{
	margin-bottom: 20px;
}
.doubt-answer{
	margin: 0 auto;
	display: none;
	max-width: 600px;
}
#doubt-btn{
	margin-top: 0px;
	margin-bottom: 20px;
}
.search{
	margin-top: 10px;
}