.page-personal {
	width: 100%;
	padding: 100px 0px;
	min-height: 100vh;
	position: relative;
	h1 {
		font-size: 36px;
	}
	.container {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: '';
	    position: fixed;
	    right: 0;
	    top: 0;
		background: rgba(230, 235, 245, 0.46);
	    height: 100%;
	    width: 40%;
	    border-left: 1px solid rgba(224, 226, 230, 0.66);

	}

	.box-content {
		width: 60%;
		float: left;
		padding-right: 60px;
		padding-bottom: 100px;
	}

	.box-sidebar {
		width: 40%;
		float: right;
		padding-left: 60px;

		.box-info {
			max-width: 350px;
		}

	}
}

.card-paslon {
	border-bottom: 1px solid #ddd;
	// overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 20px;
	.avatar-paslon {
		float: left;
	}

	.info-paslon {
		padding-left: 80px;
 		position: relative;
		h4 {
			margin-bottom: 8px;
			color: $color-secondary;
		}
		span {
			opacity: 0.8;
			display: block;
		}

		a {
			 margin-top: 8px;
			 display: inline-block;
		}
	}
}


.list-content {
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid darken($color-bg, 5%);
	h3 {
		margin-bottom: 20px;
	}
}

.sumber {
	padding-top: 20px;
	ul {
		padding-top: 20px;
		list-style: square;
		padding-left: 30px;
		li {
			padding: 5px 0px;
			a {
				font-size: 11px;
				color: $color-link;

			}
		}
	}
}

.block-quote {
	font-family: $font-heading;
	font-style: italic;
	padding: 20px;
	border-radius: 6px;
	border: 1px solid #ddd;
	margin-bottom: 80px;
	margin-top: 30px;
	p {
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 32px;
	padding-bottom: 0px;

	}
}

.box-pendukung {
	padding-top: 10px;
	border-top: 1px solid #ddd;
	margin-top:30px;
	padding-top: 20px;

	ul {
		margin-top: 20px;
		li {
			display: inline-block;
			width: 45px;
			height: 45px;
			background: #eeeeee;
			margin-right: 8px;
		}
	}
}

.page-section {
	overflow: hidden;
	width: 100%;
	position: relative;
	padding: 40px 0px;
	background: $color-bg;
	border-top: 1px solid darken($color-bg, 5%);
}

.couple-card-paslon {
	a {
		display: block;
		cursor: pointer;
		background: #fff;
		padding: 20px;
		margin: 20px;
		color: $color-secondary;
		border-radius: 6px;
		box-shadow: 0px 0px 6px 0px #d6d6d6, 0px 10px 25px -10px #8fabe4;
		.couple-avatar-paslon {
			float: left;
		}

		.couple-info-paslon {
			padding-left: 150px;
			width: auto;
			label {
				opacity: 0.8;
			}
			h4 {
				padding: 5px 0px;
				line-height: 14px;
			}
 		}
	}

	& .box {
		background: #fff;
		padding: 20px;
		margin: 20px;
		color: $color-secondary;
		border-radius: 6px;
		box-shadow: 0px 0px 6px 0px #d6d6d6, 0px 10px 25px -10px #8fabe4;
	}
}

@media all and (min-width:0px) and (max-width: 600px) {
	.couple-card-paslon .box{
		padding: 10px;
		margin: 15px 5px;
	}
}
