.search {
	position: relative;
	max-width: 680px;
	margin: 30px auto;
	input {
		border: 1px solid #dadada;
		height: 60px;
		padding: 20px;
		border-radius: 6px;
		width: 100%;
		font-family: $font-base;
		box-shadow: 0px 9px 20px -7px #b1c0c5;
		&:focus {
			outline: none;
			border-color: $color-primary;
		}
	}

	button {
		position: absolute;
		right: 20px;
		top: 15px;
		font-size: 28px;
		background: transparent;
		border: 0;
		cursor: pointer;
	}
}