select {
	background:#fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaBAMAAADKhlwxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRFAAAAISIhISIhISIhISIhISIhlDTCWAAAAAV0Uk5TAEBgj5/NA5/9AAAAmUlEQVRYw+3UsQ2DQAyFYcfKAIxgKfICTEDDAihv/1XSAHYR3dk176+wZH3X3CHCGGPsaa15+EyW37AYFNt4e8cRg+M7oRG4AmN8BwJ3YIi/gMAVALAM1h2B5+//aeCaz5niczqJFTrICn2bNfpCa/SFF+kTL9IJt9IV9wZ941Z8P96gT9zKj9MbtIh2aBE/Ov8JNWGMMfbgfiyyOOq6J2LcAAAAAElFTkSuQmCC") no-repeat right center;
	  background-size:25px 25px;
	  border:solid 1px #ddd;
	  font-family:inherit;
	  font-size:100%;
	  font-weight:inherit;
	  outline:none;
	  padding:8px 10px;
  	text-indent: 0.01px;
    text-overflow: '';
	  vertical-align: middle;
	  width:100%;
	  -webkit-border-radius:3px;
	     -moz-border-radius:3px;
			     border-radius:3px;
	-webkit-appearance: button;
	   -moz-appearance: button;
			appearance: button;
  	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;
  			box-sizing: border-box;

}
