// Color
$color-primary	:#e85454;
$color-secondary:#373b3f;

$color-soft		:#ffffff;
$color-grey   :#5c5c5c;
$color-grey-soft   :#787575;
$color-dark		:#353548;
$color-bg		:#f3f4f6;

$color-error	:#123456;
$color-success	:#123456;

$color-link		: #3d64d4;


// fonts
$font-base		:'Montserrat', sans-serif;
$font-heading 	:'Merriweather', Georgia, serif;
